.o_json_editor_component {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    
    .jsoneditor {
        border: none;
        
        .jsoneditor-menu {
            background-color: #f8f9fa;
            border-bottom: 1px solid #ced4da;
        }
    }
}
